* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #121212;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.6rem;
  color: #ffffff;
}

span {
  margin-bottom: 20px;
  color: #c4c4c4;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.3rem;
  border: 1px solid #2a2a2a;
  background: #1e1e1e;
  border-radius: 1rem;
}

input[type="file"] {
  padding: 0.5rem;
  border: 1px solid #3a3a3a;
  border-radius: 0.5rem;
  background: #2a2a2a;
  color: #ffffff;
}

input[type="file"]::file-selector-button {
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 0.4rem;
  background: #c4c4c4;
  cursor: pointer;
  transition: 0.2s;
}

input[type="file"]::file-selector-button:hover {
  background: #929292;
}

.error {
  color: rgb(255, 50, 50);
  font-size: 0.9rem;
}

.success {
  color: #00c853;
  font-size: 0.9rem;
}

button {
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background: #0d6efd;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background: #013685;
  color: #ffffff;
}

/* 🔽 Cartel animado */
.toast {
  position: fixed;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  background: #121212;
  color: #fff;
  padding: 0.8rem 1.2rem;
  border-radius: 0.6rem;
  font-weight: bold;
  font-size: 0.95rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  animation: slideUp 0.6s forwards, fadeOut 0.6s 2.4s forwards;
  z-index: 9999;
}


@keyframes slideUp {
  from {
    bottom: -60px;
    opacity: 0;
  }
  to {
    bottom: 60px;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    bottom: 60px;
  }
  to {
    opacity: 0;
    bottom: 100px;
  }
}
